1) <b>Modify the first item(22) of a list inside a following tuple to 222</b>

   tuple1=( 11 , [ 22 , 33 ] , 44 , 55 )

In [116]:
tuple1=(11,[22,33],44,55) #creating a tuple.
tuple1[1][0]=222 #replacing list item 22 by 222
print(tuple1) #printing the modified tuple

(11, [222, 33], 44, 55)

2) <b>Count the no of occurences of item 50 from a tuple</b>

   tuple1=( 50 , 10 , 60 , 70 , 50 )

In [120]:
tuple1=(50,10,60,70,50)#creating a tuple

count=0 #initializing count to 0

for i in tuple1: #iterating tuple
    
    if(i==50): #checking wheather the item is 50 
        
        count=count+1  #counting 

print(count) #printing the no of occurence.

2

3) <b>Write a python program to convert a list to tuple</b>

In [121]:
list1=[1,2,3,4] #creating a list

tuple1=tuple(list1) #converting the list to tuple

print(tuple1) #printing tuple

(1, 2, 3, 4)

4) <b>Returns a new set with all items from both sets by removing duplicates</b> 

 set1={ 10 , 20 , 30 , 40 , 50 }
 
 set2={ 30 , 40 , 50 , 60 , 70 }

In [71]:
set1={10,20,30,40,50} #creating set1
set2={30,40,50,60,70} #creating set2
print(set1.union(set2))#merging created sets

{70, 40, 10, 50, 20, 60, 30}

5) <b>Merge the following python dictionaries into one</b>

 dict1 = { 'ten' : 10, 'twenty' : 20, 'thirty' : 30 }
 
 dict2= { 'thirty' : 30, 'fourty' : 40 , 'fifty' : 50 }

In [80]:
dict1 = {'ten':10, 'twenty':20,'thirty':30}#creating dictionary
dict2= {'thirty':30,'fourty':40,'fifty':50}
dict3= dict1.copy() #copying elements of dict1 to newly created dict3
dict3.update(dict2) #updating dict3 with elements from dict2
print(dict3) #printing dict3

{'ten': 10, 'twenty': 20, 'thirty': 30, 'fourty': 40, 'fifty': 50}

6) <b> Given a python dictionary , change Brad's salary to 8500</b>
   
   sampleDict  =  {
  
   'emp1' : { 'name' : 'john' , 'salary' : 7500 }
   
   'emp2' : { 'name' : 'Emma' , 'salary' : 8000 }
    
   'emp3' : { 'name' : 'Brad' , 'salary' : 6500 }
   
   }

In [123]:
#creating a nested dictionary.
sampleDict={
    'emp1' : { 'name' : 'john' , 'salary' : 7500 },
    'emp2' : { 'name' : 'Emma' , 'salary' : 8000 },
    'emp3' : { 'name' : 'Brad' , 'salary' : 6500 }
}
sampleDict['emp3']['salary']=8500 #changing Brad's salary
print(sampleDict)#printing dictionary

{'emp1': {'name': 'john', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

7) <b> Rename key city to location in the following dictionary</b>

   sampleDict = {
   
      "name" : "kelly",
      
      "age" : 25,
      
      "salary" : 8000,
      
      "city" : "New York"
      
     }

In [115]:
#creating a nested dictionary.
sampleDict={
    "name":"kelly",
    "age":25,
    "salary":8000,
    "city":"New York"
    }
sampleDict['location']=sampleDict.pop('city') #Renaming city to location.
print(sampleDict) #printing dictionary

{'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}